body{
    background-color: #f5f2ea;
    
    
}
#OdinTitle{
    text-align: center;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    padding-top: 260px;
   
}

ul li a {
    background-color: #f5f2ea;
}

.menu{
    background-color: #f5f2ea;
    text-align: center;
    
    }
    
.menu div{
    flex: 1;
    width: 300px;
    height: 250px;
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
}
    #link1{
        
    background-image: url(../recipes/bestlasanga.png);
   
    }

    #link2{
    
        background-image: url(../recipes/mompotatolatkes.jpg);

    }

    #link3{
        background-image: url(../recipes/swedishmeatball.jpg);
    }
